@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --orange: #FF9E71;
    --white: #FFFFFF;
    --grey: #F5F5F5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.bread1 {
    color: var(--black2);
}

.bread2 {
    color: var(--orange);
}

.loja-seven__title {
    color: var(--orange);
}

.shop {
    height: 100%;
}

.loja-seven__container {
    margin-top: 80px;
    background: var(--);
    height: 100%;
    padding: 20px 100px;
}

.category__list {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

ul.category__list, ul.category__list__header {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
    list-style: none;
    flex-flow: row wrap;
}

.category__all {
    display: flex;
    justify-content: center;
}

.category__btn {
    width: 130px;
    height: 36px;
    padding: 10px;
    background: var(--orange);
    border: none;
    border-radius: 20px;
    font-size: .8rem;
    color: var(--white);
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 4%);
    cursor: pointer;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 0;
}

.footer__socials {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    gap: 20px;
}

a.footer__social {
    margin-right: auto;
}

@media screen and (max-width: 992px) {
    .loja-seven__container {
        padding: 20px 10px;
    }

    .loja-seven__title {
        display: grid;
        justify-content: center;
    }

    .loja-seven__breadcrumb {
        display: none;
    }
}

/* ================================================== CARDS ================================================== */
.shop__list {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}