@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    color: #747474;
}

hmtl {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.title {
    font-size: 1.5rem;
    font-weight: 600;
}

/*============================================================ NAV ============================================================*/

/*==================== Media Queries ====================*/

/*==================== Mobile ====================*/
@media (max-width: 992px) {
    .header {
        top: 0;
        width: 100%;
        height: 60px;
        position: fixed;
        overflow: hidden;
        z-index: 666;
    }

    .nav__container {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        background: #FF9E71;
    }

    .nav__img__logo {
        display: grid;
        align-items: center;
    }

    .nav__img__logo a{
        color: #FFFFFF;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        padding: 4rem 1.5rem 2rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .3s;
    }

    .nav__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .85rem;
        color: #FF9E71;
        font-weight: var(--font-medium);
    }

    .nav__btns {
        display: grid;
        justify-content: end;
        align-items: center;
        height: 60px;
    }

    .nav__toggle{
        color: #FFFFFF;
        font-size: 1.8rem;
        font-weight: 800;
        cursor: pointer;
    }

    .nav__toggle:hover{
        color: #0cb5b9;
    }

    .nav__link:hover{
        color: #0cb5b9;
    }
    
    .nav__icon{
        font-size: 1.4rem;
    }
    
    .nav__close{
        position: absolute;
        right: 1.15rem;
        top: .85rem;
        font-size: 2rem;
        cursor: pointer;
        color: #FF9E71;
    }
    
    .nav__close:hover{
        color: var(--first-color-alt);
    }
    
    /* Show menu */
    .show-menu{
        top: 0;
    }
    
    /* Active menu */
    .active-link{
        color: #0cb5b9;
    }
    
    /* Change background header */
    .scroll-header{
        box-shadow: 0 -1px 4px rgba(0,0,0,.65);
    }   
}

@media (max-width: 480px) {
    .nav__img__logo a {
        font-size: 1rem;
    }

    .nav__toggle {
        font-size: 1.5rem;
    }

    .nav__close{
        position: absolute;
        right: 1.3rem;
        top: 1.05rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: #FF9E71;
    }
}

/*==================== Desktop ====================*/
@media screen and (min-width: 993px) {
    .header {
        width: auto;
        height: 80px;
        top: 0px;
        left: 0px;
        right: 0;
        position: fixed;
        z-index: 666;
        background: #FF9E71;
        display: grid;
        justify-items: center;
    }
    
    .nav__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        width: 968px;
    }

    .nav__img__logo {
        display: grid;
    }

    .nav__img__logo a {
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .img__logo {
        width: 10px;
    }
    
    .nav__btns, .nav__close, .nav__icon {
        display: none;
    }
    
    .nav__menu {
        display: flex;
        margin-left: auto;
    }
    
    .nav__list {
        display: flex;
        column-gap: 3rem;
        font-weight: 500;
    }
    
    .nav__link {
        display: flex;
        flex-direction: column;        
        font-size: .85rem;
        color: #FFFFFF;
        font-weight: 500;
        font-family: inherit;
        text-decoration: none;
    }

    .nav__link:hover {
        color: #0CB5B9;
        font-weight: 500;
    }
}

@media (min-width: 1200px){
    .img__logo {
    width: 250px;
    }
}

/*============================================================ HOME ============================================================*/
/*==================== Media Queries ====================*/

/*==================== Mobile ====================*/
@media (max-width: 992px) {
    .home__scroll {
        display: none;
    }

    .home__section {
        display: grid;
        justify-items: center;
        position: relative;
        width: 100%;
        height: 690px;
        background: #FF9E71;
    }

    .home__container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }

    .home__social {
        position: absolute;
        display: grid;
        top: 50%;
        right: 0;
        transform: translateX(-40px);
        grid-template-columns: max-content;
        row-gap: 1rem;
    }

    .home__social-icon{
        font-size: 1.25rem;
        color: #FFFFFF;
    }
    
    .home__social-icon:hover{
        color: #0cb5b9;
    }

    .home__title, .home__subtitle {
        color: #FFFFFF;
    }

    .home__title {
        font-size: 3rem;
        font-weight: bolder;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    }

    .home__subtitle {
        font-weight: 600;
    }

    .home__media {
        margin-top: 40px;
    }

    .home__img {
        width: 500px;
    }
}

@media (max-width: 750px) {
    .home__img {
        width: 400px;
    }

    .home__social {
        top: 60%;
        right: 0;
        transform: translateX(-40px);
    }
}

@media (max-width: 648px) {
    .home__img {
        width: 400px;
    }

    .home__social {
        top: 60%;
        right: 0;
        transform: translateX(-40px);
    }
}

@media (max-width: 540px) {
    .home__social {
        top: 60%;
        right: 0;
        transform: translateX(-20px);
    }
}


@media (max-width: 510px) {
    .home__title {
        font-size: 2rem;
    }

    .home__img {
        width: 300px;
    }

    .home__social {
        position: absolute;
        display: flex;
        right: 50%;
        top: 90%;
        transform: translateX(50%);
        column-gap: 1rem;
    }
}

@media (max-width: 390px) {
    .home__img {
        width: 200px;
    }

    .home__social {
        top: 80%;
    }
}

/*==================== Desktop ====================*/

@media screen and (min-width: 993px) {
    .home__section {
        display: grid;
        justify-items: center;
        position: relative;
        width: 100%;
        height: 690px;
        background: #FF9E71;
    }

    .home__container{
        position: relative;
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        justify-items: center;
        padding-top: 180px;
        max-width: 968px;
    }

    .home__social {
        position: absolute;
        display: grid;
        top: 50%;
        right: 0;
        grid-template-columns: max-content;
        row-gap: 1rem;
    }

    .home__social-icon{
        font-size: 1.25rem;
        color: #FFFFFF;
    }

    .home__social-icon:hover{
        color: #0cb5b9;
    }

    .home__info {
        display: flex;
        text-align: start;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home__media {
        display: grid;
        width: 500px;
    }

    .home__img {
        width: 100%;
        height: auto;
    }

    .home__title, .home__subtitle {
        color: #FFFFFF;
    }

    .home__title {
        font-size: 3rem;
        font-weight: bolder;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    }

    .home__scroll {
        display: grid;
        justify-content: center;
        margin-top: 100px;
    }
}

/*============================================================ OFERTAS ============================================================*/
.ofertas__id {
    height: 140px;
}

.ofertas__title {
    margin-bottom: 100px;
    text-align: center;
}

.ofertas123 {
    display: grid;
}

.ofertas__card {
    cursor: pointer;
}

.ofertas__container {
    width: 100%;
}

.ofertas__list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px;
}

.card__ofertas {
    width: 219px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    margin-bottom: 100px;
}

.card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 136px;
}

.card__img img {
    object-fit: cover;
    width: 220px;
    padding-bottom: 100px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
}

.card__stars {
    display: flex;
    gap: 0 2px;
    flex-direction: row;
    height: 15px;
    justify-content: center;
    align-items: center;
}

.card__data {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    height: 149px;
    align-items: center;
}

.card__title {
    margin-top: 12px;
    text-align: center;
    color: #4C5052;
    font-size: var(--h2-font-size);
}

.card__description {
    margin-top: 6px;
    text-align: center;
    color: #4C5052;
    font-size: var(--small-font-size);
}

.card__price {
    margin-top: 20px;
    color: #FF5500;
    font-size: var(--h2-font-size);
    font-weight: 600;
}

.star {
    color: #FFC665;
    font-size: 1rem;
}

/*==================== Media Queries ====================*/

/*==================== Mobile ====================*/
@media (max-width: 992px) {
    .ofertas__container {
        background-position: contain;
        gap: 8rem 1rem;
    }
}

/*==================== Desktop ====================*/

@media screen and (min-width: 1300px) {
    .ofertas123 {
        justify-content: center;
    }

    .ofertas__container {
        max-width: 1300px;
    }
}

/*============================================================ LOJA ============================================================*/
.loja__section {
    display: grid;
    /* margin-top: 100px; */
    padding: 6rem 0 2rem;
}

.loja__title {
    padding: 0 1rem;
    text-align: center;
}

.loja__container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    position: relative;
    padding: 1px;
    max-width: 1200px;
}

.ver__mais {
    color: #FF9E71;
    font-weight: 600;
    margin-right: 20px;
}

.ver__mais__btn {
    display: grid;
    justify-content: end;
}

/*==================== Media Queries ====================*/

/*==================== Mobile ====================*/
@media screen and (max-width: 1300px) {
    .swiper__icon__prev, .swiper__icon__next {
        display: none;
    }

    .loja__container {
        max-width: 768px;
    }
}

@media screen and (max-width: 846px) {
    .loja__container {
        max-width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .loja__container {
        max-width: 300px;
    }
}

@media screen and (max-width: 350px) {
    .loja__container {
        max-width: 200px;
    }
}

/*============================================================ SOBRE ============================================================*/
.sobre__section {
    padding-top: 3rem;
}

.sobre__bg {
    background-color: #FF9E71;
}

.sobre__container {
    display: grid;
    gap: 1.5rem;
    max-width: 768px;
    padding: 1rem;
}

.info__title, .info__desc {
    color: #FFFFFF;
}

.info__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 0.75rem;
}

.info__desc {
    margin-bottom: 1.5rem;
}

.sobre__img img {
    width: 232px;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

/*==================== Media Queries ====================*/

/*==================== Desktop ====================*/
@media screen and (min-width: 768px) {
    .sobre__section {
        padding: 6rem 0 2rem;
        text-align: initial;
    }

    .sobre__bg {
        background: none;
        padding-top: 3rem;
    }

    .sobre__container {
        margin-left: auto;
        margin-right: auto;
        background-color: #FF9E71;
        border-radius: 1rem;
        padding: 4.2rem 2.5rem 4.2rem;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }

    .sobre__info {
        padding-top: .8rem;
    }
}

/*==================== Mobile ====================*/
@media screen and (max-width: 777px) {
    .sobre__container {
        display: grid;
        justify-items: center;
        grid-template-columns: auto;
        text-align: center;
    }

    .sobre__info {
        text-align: center;
        justify-items: center;
        margin-bottom: 20px;
    }
    .sobre__img img{
        width: 200px;
    }
}

/*============================================================ SERVIÇOS ============================================================*/
.servicos__section {
    padding-top: 8rem;
}

.servicos__bg {
    background-color: #FF9E71;
}

.servicos__container {
    display: grid;
    gap: 1.5rem;
    max-width: 768px;
    padding: 1rem;
}
.data__title, .data__desc {
    color: #FFFFFF;
}

.data__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 0.75rem;
}

.data__desc {
    margin-bottom: 1.5rem;
}

.servicos__img img {
    width: 232px;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

/*==================== Media Queries ====================*/

/*==================== Desktop ====================*/
@media screen and (min-width: 768px) {
    .servicos__section {
        padding: 6rem 0 2rem;
        text-align: initial;
    }

    .servicos__bg {
        background: none;
        padding-top: 3rem;
    }

    .servicos__container {
        margin-left: auto;
        margin-right: auto;
        background-color: #FF9E71;
        border-radius: 1rem;
        padding: 4.2rem 2.5rem 4.2rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        justify-items: center;
    }

    .servicos__data {
        display: grid;
        align-items: center;
        padding-top: .8rem;
    }
}

/*==================== Mobile ====================*/
@media screen and (max-width: 777px) {
    .servicos__container {
        display: grid;
        justify-items: center;
        grid-template-columns: auto;
        text-align: center;
    }

    .servicos__data {
        text-align: center;
        justify-items: center;
        margin-bottom: 20px;
    }
    .servicos__img img{
        width: 200px;
    }
}

/*============================================================ CONTATO ============================================================*/
.contact__section {
    display: grid;
    justify-content: center;
    margin-top: 100px;
    padding: 2rem 0 4rem;
}

.contact__title{
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact__container{
    display: grid;
    row-gap: 3rem;
    gap: 1.5rem;
    max-width: 768px;
    margin: 0 1.5rem;
}

.contact__information{
    display: flex;
    margin-bottom: 2rem;
}

.contact__icon{
    font-size: 1.8rem;
    color: #fa9500;
    margin-right: 0.75rem;
}

.contact__title1{
    text-align: start;
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact__subtitle{
    font-size: .95rem;
    text-align: start;
    color: var(--first-color-alt);
}

.contact__subtitle:hover{
    color: #fa9500;
}

.contact__content{
    background-color: #ffdac6;
    border-radius: .5rem;
    padding: .75rem 1rem 1rem;
}

.contact__form {
    display: grid;
    gap: 1.5rem;
}

.contact__label{
    font-size: 0.95rem;
    color: #3a3a3c;
}

.contact__inputs {
    display: grid;
    gap: 1.5rem;
}

.contact__input{
    width: 100%;
    background-color: #ffdac6;
    color: #240046;
    font-size: .95rem;
    border: none;
    outline: none;
    padding: .5rem .5rem .5rem 0;
}

.contact__button {
    display: inline-flex;
    align-items: center;
    background-color: #FF5500;
    border: none;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}
/*==================== Media Queries ====================*/

/*==================== Mobile ====================*/
@media screen and (min-width: 1024px) {
    .contact__section {
        padding: 6rem 0 2rem;
    }
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__form {
        width: 460px;
    }

    .contact__inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

/*============================================================ FOOTER ============================================================*/
.footer{
    padding-top: 2rem;
}

.footer__container{
    display: grid;
    row-gap: 3.5rem;
    gap: 1.5rem;
    max-width: 768px;
}

.footer__bg{
    background-color: #FF9E71;
    padding: 2rem 0 3rem;
}


.footer__title{
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: .25rem;
}

.footer__subtitle{
    font-size: 1rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    font-size: .95rem;
}

.footer__link:hover{
    color: #0cb5b9;
}

.footer__socials {
    display: flex;
    justify-content: flex-end;
}

.footer__social{
    font-size: 1.25rem;
    margin-right: 1.8rem;
}

.footer__social:hover{
    color: #0cb5b9;
}

.footer__copy{
    font-size: .8rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 3rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color: #FFF;
}

/*==================== Media Queries ====================*/

/*==================== Desktop ====================*/
@media screen and (min-width: 768px){
    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        margin-left: auto;
        margin-right: auto;
    }

    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__copy {
        margin-top: 4.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .header, .main, .footer__container {
        padding: 0;
    }
}

/*==================== Desktop ====================*/
@media screen and (max-width: 767px) {
    .footer__container {
        justify-content: center;
    }

    .footer__info {
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    .footer__title {
        font-size: 1.2rem;
        margin: 0;
    }

    .footer__subtitle {
        font-size: 1.1rem;
        font-weight: 500;
        vertical-align: bottom;
    }

    .footer__links {
        align-items: center;
        row-gap: 1rem;
    }

    .footer__socials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        justify-items: end;
    }

    .footer__social {
        font-size: 1.5rem;
    }
}

/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: #FF5500;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 666;
    transition: .4s;
}

.scrollup:hover{
    background-color: #0CB5B9;
}

.scrollup__icon{
    font-size: 1.8rem;
    color: #FFF;
}

/* Show scroll */
.show-scroll{
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: #E3E2E9;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: #C8C6D1;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #FF9E71;
}

/*==================== Mobile ====================*/
@media screen and (max-width: 768px){
    .show-scroll{
        bottom: 2rem;
    }
}